# НЕ ИСПОЛЬЗУЙТЕ НАСТОЯЩИЕ ДАННЫЕ ТУТ
#ПЕРЕСОЗДАЙТЕ ФАЙЛ .env, скопировав нужные поля тут
#ЗАМЕНИТЕ СТРОКУ    env_file: - .env.example
#             НА    env_file: - .env
#             В docker-ccompose.yml - примерно 10 строка
MODE=DEV
LOG_LEVEL=INFO

DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=manicure_app

POSTGRES_USER=postgres
POSTGRES_DB=manicure_app
POSTGRES_PASSWORD=postgres

SERVER_PORT=8000
SERVER_HOST=0.0.0.0
SECRET_KEY=CHANGEME_IN_PRODUCTION_SECRET_KEY
ALGORITHM=HS256

TEST_DB_HOST=localhost
TEST_DB_PORT=5432
TEST_DB_USER=postgres
TEST_DB_PASSWORD=postgres
TEST_DB_NAME=manicure_test_db

REDIS_HOST=redis
REDIS_PORT=6379